.app-tasks {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-count {
    text-align: center;
}

.app-tasks-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.empty-tasklist {
    width: 900px;
    border: 2px white dashed;
    margin-top: 32px;
}

.empty-tasklist h2 {
    text-align: center;
    font-size: 48px;
}
.empty-tasklist p {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}